<h3>Orbit Report</h3>
<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr [class.warning]="satellite.shouldShowWarning()" [class.even]="satellites.indexOf(satellite) % 2 === 0" [class.odd]="satellites.indexOf(satellite) % 2 === 1" *ngFor="let satellite of satellites">
        <th>{{satellite.name}}</th>
        <th>{{satellite.type}}</th>
        <th>{{satellite.operational}}</th>
        <th>{{satellite.orbitType}}</th>
        <th>{{satellite.launchDate}}</th>
    </tr>
</table>